services:
{% if stealth_caddy_mode == 'docker_sidecar' %}
  caddy:
    image: {{ caddy_image_tag }}
    container_name: caddy
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - xray
{% endif %}

  xray:
    image: {{ xui_image }}
    container_name: xray
    restart: unless-stopped
    volumes:
      - ./xray/db:/etc/x-ui/
      - ./xray/cert:/root/cert/
    environment:
      - XUI_ENABLE_FAIL2BAN=true
      - TZ=Europe/Helsinki
    ports:
      - "127.0.0.1:{{ xui_admin_web_port }}:{{ xui_admin_web_port }}"
      - "127.0.0.1:{{ xray_reality_listen_port }}:{{ xray_reality_listen_port }}"
{% if stealth_caddy_mode == 'docker_sidecar' %}
volumes:
  caddy_data:
  caddy_config:
{% endif %}
