vps_ssh_host: "{{ vps_ssh_host }}"
vps_ssh_user: "{{ vps_ssh_user }}"

xui_admin_username: "{{ xui_admin_username }}"
xui_admin_password: "{{ xui_admin_password }}"
xui_admin_web_path: "{{ xui_admin_web_path }}"
xui_admin_web_port: {{ xui_admin_web_port }}

reality_dest: "{{ reality_dest }}"
reality_server_names:
{% for name in reality_server_names %}
  - "{{ name }}"
{% endfor %}
reality_server_private_key: "{{ template_reality_server_private_key }}"
reality_server_public_key: "{{ template_reality_server_public_key }}"
reality_short_ids:
{% for sid in template_reality_short_ids %}
  - "{{ sid }}"
{% endfor %}

clients:
{% for client in template_clients %}
  - name: "{{ client.name }}"
    uuid: "{{ client.uuid }}"
    short_id: "{{ client.short_id }}"
    email: "{{ client.email }}"
{% endfor %}

router_ssh_host: "{{ router_ssh_host }}"
router_ssh_user: "{{ router_ssh_user }}"
