# Channel B (VLESS+Reality via sing-box) routing catalog.
# Keep this separate from VPN_DOMAINS / wgc1 rules.
ipset=/{{ stealth_test_domain }}/{{ stealth_ipset_name }}
server=/{{ stealth_test_domain }}/{{ stealth_test_upstream }}
