GHOSTROUTE_REDIRECT_PORT={{ singbox_redirect_port }}
GHOSTROUTE_HOME_REALITY_PORT={{ home_reality_ingress_port }}
GHOSTROUTE_DNSCRYPT_SOCKS_PORT={{ singbox_dnscrypt_socks_port }}
GHOSTROUTE_DNSCRYPT_PORT={{ dnscrypt_port }}
GHOSTROUTE_DNS_EGRESS_MODE={{ router_dns_egress_mode | default('policy_split') }}
GHOSTROUTE_VPS_DNS_FORWARD_PORT={{ router_vps_dns_forward_port | default(15353) }}
GHOSTROUTE_VPS_DNSMASQ_CONF={{ router_vps_dnsmasq_conf_path | default('/jffs/configs/dnsmasq-vps-managed.conf.add') }}
GHOSTROUTE_HOME_REALITY_MSS={{ home_reality_mss | default(1360) }}
GHOSTROUTE_HOME_REALITY_CONNLIMIT={{ home_reality_connlimit_above | default(500) }}
GHOSTROUTE_CHANNEL_B_HOME_ENABLED={{ channel_b_home_relay_enabled | default(false) | ternary('1', '0') }}
GHOSTROUTE_CHANNEL_B_HOME_PORT={{ channel_b_home_ingress_port | default('') }}
GHOSTROUTE_CHANNEL_B_HOME_MSS={{ channel_b_home_mss | default(1360) }}
GHOSTROUTE_CHANNEL_B_HOME_CONNLIMIT={{ channel_b_home_connlimit_above | default(500) }}
GHOSTROUTE_CHANNEL_C_HOME_ENABLED={{ channel_c_home_enabled | default(false) | ternary('1', '0') }}
GHOSTROUTE_CHANNEL_C_HOME_PUBLIC_PORT={{ channel_c_home_public_port | default('') }}
GHOSTROUTE_CHANNEL_C_HOME_PORT={{ channel_c_home_ingress_port | default('') }}
GHOSTROUTE_CHANNEL_C_HOME_MSS={{ channel_c_home_mss | default(1360) }}
GHOSTROUTE_CHANNEL_C_HOME_CONNLIMIT={{ channel_c_home_connlimit_above | default(500) }}
GHOSTROUTE_CHANNEL_C_SHADOWROCKET_ENABLED={{ channel_c_shadowrocket_enabled | default(false) | ternary('1', '0') }}
GHOSTROUTE_CHANNEL_C_SHADOWROCKET_PUBLIC_PORT={{ channel_c_shadowrocket_public_port | default('') }}
GHOSTROUTE_CHANNEL_C_SHADOWROCKET_PORT={{ channel_c_shadowrocket_ingress_port | default('') }}
GHOSTROUTE_CHANNEL_C_SHADOWROCKET_MSS={{ channel_c_shadowrocket_mss | default(1360) }}
GHOSTROUTE_CHANNEL_C_SHADOWROCKET_CONNLIMIT={{ channel_c_shadowrocket_connlimit_above | default(500) }}
