GHOSTROUTE_REDIRECT_PORT={{ singbox_redirect_port }}
GHOSTROUTE_HOME_REALITY_PORT={{ home_reality_ingress_port }}
GHOSTROUTE_DNSCRYPT_SOCKS_PORT={{ singbox_dnscrypt_socks_port }}
GHOSTROUTE_DNSCRYPT_PORT={{ dnscrypt_port }}
GHOSTROUTE_HOME_REALITY_MSS={{ home_reality_mss | default(1360) }}
GHOSTROUTE_HOME_REALITY_CONNLIMIT={{ home_reality_connlimit_above | default(300) }}
GHOSTROUTE_CHANNEL_B_HOME_ENABLED={{ channel_b_home_relay_enabled | default(false) | ternary('1', '0') }}
GHOSTROUTE_CHANNEL_B_HOME_PORT={{ channel_b_home_ingress_port | default('') }}
GHOSTROUTE_CHANNEL_B_HOME_MSS={{ channel_b_home_mss | default(1360) }}
GHOSTROUTE_CHANNEL_B_HOME_CONNLIMIT={{ channel_b_home_connlimit_above | default(300) }}
