foreground = yes
pid =
debug = notice
output = /var/log/stunnel4/channel-c.log

[channel-c-https-proxy]
accept = 127.0.0.1:{{ channel_c_naive_stunnel_local_port | default(18443) }}
{% if channel_c_naive_backend | default('stunnel_tinyproxy') == 'stunnel_squid' %}
connect = 127.0.0.1:{{ channel_c_naive_squid_local_port | default(18889) }}
{% else %}
connect = 127.0.0.1:{{ channel_c_naive_tinyproxy_local_port | default(18888) }}
{% endif %}
sslVersion = TLSv1.2 TLSv1.3
options = NO_SSLv3 NO_SSLv2
cert = /var/lib/caddy/.local/share/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ channel_c_naive_public_host }}/{{ channel_c_naive_public_host }}.crt
key = /var/lib/caddy/.local/share/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ channel_c_naive_public_host }}/{{ channel_c_naive_public_host }}.key
